fastapi
uvicorn
python-multipart
jinja2
datasets
langchain
langchain-community
langchain-pinecone
langchain-huggingface
pinecone-client
python-dotenv
sentence-transformers
pydantic
tqdm
huggingface-hub
faster-whisper
onnxruntime
soundfile
pyttsx3
numpy
num2words
spacy